<!DOCTYPE html >
<html>
<head>
  <meta charset='UTF-8'/>
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='robots' content='index'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <title>博凯实业</title>
  <meta class='swiftype' name='title' data-type='string' content='Mapbox' />
  <meta class='swiftype' name='type' data-type='enum' content='site' />
  <meta class='swiftype' name='info' data-type='string' content='site' />
  <link href='/static/home/css/base.css' rel='stylesheet' />
  <link href='/static/home/css/site.css' rel='stylesheet' />
  <!--[if IE 9]><link href='/css/site-ie9.css' rel='stylesheet' /><![endif]-->
  <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='/blog/blog.rss' />
  <!-- <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' /> -->

  <!--[if lt IE 9 ]><script src='/js/redirect-ie.js'></script><![endif]-->

  <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
  <script src='/static/home/js/base.js'></script>
  
  <link href='/static/home/css/home.css' rel='stylesheet' />
  <meta name="bitly-verification" content="1cabb779add9"/>
</head>
<body class='full bleed animate user-loaded'>
<div class='page-content'>

<div class="masthead show-in-loaded col12 clearfix  dark" data-swiftype-index="false">
  <div class="clearfix" style="background: #930008;background-image: linear-gradient(to top, #ED1E29, transparent);">
    <nav class="limiter text-right pad2y contain animate clearfix noprint">
      <a class="fl mb-logo" href="/"  style="color:white;background:none;"><h2>博凯实业</h2></a>
      <div id="nav">
        <div class="z10 strong small pad0y space primary hide-mobile">
          <a href="/product/list/" class="primary-nav-button inline pad1x pad0y round ">产品</a>
          <a href="/service/" class="primary-nav-button inline pad1x pad0y round ">服务</a>
          <a href="/case/" class="primary-nav-button inline pad1x pad0y round ">案例</a>
          <a href="/civilization/" class="primary-nav-button inline pad1x pad0y round active">文化</a>
          <a href="/aboutus/" class="primary-nav-button inline pad1x pad0y round ">关于我们</a>
        </div>
        <div class="show-mobile contain dropdown-container pin-topright">
          <a href="#menu" class="dark contain z1 big inline icon menu round quiet dropdown-button js-dropdown-button pin-right"></a>
          <div id="menu" class="js-dropdown-menu scroll-v dropdown-menu offcanvas-top fill-dark clip col12 pin-top animate">
            <div class="mobile-cols pad4y keyline-bottom clearfix">
                <a class="pad1 block strong col6" href="/product/list/">产品</a>
                <a class="pad1 block strong col6" href="/service/">服务</a>
                <a class="pad1 block strong col6" href="/case/">案例</a>
                <a class="pad1 block strong col6" href="/civilization/">文化</a>
                <a class="pad1 block strong col6 signin" href="aboutus">关于我们</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class=''><link rel='stylesheet' href='common.css' />

<!-- Start header -->
<div class='splash dark clearfix clip fill-deep-dark' id="introduction" style="background:#000;">
  <div class='limiter clearfix contain pad8y'>
    <div class='quiet pin-topright col12 z1 subnav ' style="  text-align: right;border-bottom: solid 1px;">
      <a class='secondary-nav-button small inline round strong truncate pad1x pad0y ' href='#introduction'>企业文化</a>
      <a class='secondary-nav-button small inline round strong truncate pad1x pad0y ' href='#contact_us'>团队风采</a>
    </div>
    <section>
      <div class="col12 row12">
        <div class='col6 prose-big prose pad2x'>
          <h2 class='fancy'>狼性文化</h2>
          <div class="pad2y show-mobile">
            <img class="" src="/static/home/img/wolf.jpeg">
          </div>
          <p class="bottom-space4 ">
            <span style="text-indent:2em;display:block;">
              狼者，猛兽也，群动之族；狼其性也：野、残、贪、暴。陆地上生物最高的食物链终结者之一，是群居动物中最有秩序、纪律的族群。
            </span>
             <span style="text-indent:2em;display:block;">
              博凯实业奉行狼性文化,将狼性文化体现在团队工作中。狼性地“残”用在工作中，便是指对待工作中的困难要一个个地、毫不留情地把它们克服掉、消灭掉；狼性文化的“野”，便指这种在工作中、事业开拓中不要命的拼搏精神；狼性文化中的“贪”是指对工作和事业孜孜不倦地追求；狼性文化中的“暴”则是指在工作的逆境中，要粗暴地对待一个又一个难关，不能对难关仁慈。
            </span>
          </p>
        </div>
        <div class="col6 hide-mobile">
          <img class="pad2x" src="/static/home/img/wolf.jpeg">
        </div>
      </div>
      <div class="col12 row12">
        <div class="col6 hide-mobile">
          <img class="pad2x" src="/static/home/img/aboutus_4.jpg">
        </div>
        <div class="col6 show-mobile">
          <img class="pad2x pad2y" src="/static/home/img/aboutus_4.jpg">
        </div>
        <div class='col6 prose-big prose pad2x'>
          <h2 class='fancy' style="text-align: center;">以人为本</h2>
          <p class="bottom-space4 ">
            <span style="text-indent:2em;display:block;">
              以人为本，不仅主张人是发展的根本目的，而且主张人是发展的根本动力。
            </span>
            <span style="text-indent:2em;display:block;">
              以人为本的企业文化管理，是以高素质的员工为中心，把员工自我价值的实现，与企业的发展目标相融合。员工的个人发展以及团结一致的团队成长，进而实现企业的健康良好发展。这也是富于狼性精神的文化内核。
            </span>
              <span style="text-indent:2em;display:block;">
              “狼性文化”是一柄锋利的双刃剑。在“狼性文化”的背后，狼性中深藏着固有的本质——残酷无情，你死我活，蔑视规则，无视人性等，极易造成企业及员工在文化上的迷失。坚持以人为本则是对狼性文化的互补。
            </span>
          </p>
        </div>
      </div>
    </section>
    <div class='col8 pin-bottomright graphic-splash'></div>
  </div>
</div>

<!-- End header -->



<!-- High Volume -->
<div class='fill-white clearfix pad4y clip' id="zizhi">
  <div id='highvolume' class='limiter'>
  <div class="clearfix">
    <div class="col12">
        <h1 class=" pad2y">团队风采</h1>
          <div class="industries-ad pad2y">
            <ul class="clearfix">
              <li class="col6 center clip contain">
                  <img class="industries-ad-industry  contain naturalresources fill-blue"src="/static/home/img/yuangong_1.png">
              </li>
              <li class="col2 center clip contain">
                  <img class="industries-ad-industry  contain naturalresources fill-blue"src="/static/home/img/yuangong_2.png">
              </li>
              <li class="col2 center clip contain">
                  <img class="industries-ad-industry  contain naturalresources fill-blue"src="/static/home/img/yuangong_3.jpg">
              </li>
              <li class="col2 center clip contain">
                  <img class="industries-ad-industry  contain naturalresources fill-blue"src="/static/home/img/yuangong_4.jpg">
              </li>
              <li class="col2 center clip contain">
                  <img class="industries-ad-industry  contain naturalresources fill-blue"src="/static/home/img/yuangong_5.png">
              </li>                  
            </ul>
          </div>
      </div>
      <div class="highvolume-graphic col5"></div>

    </div>
  </div>
</div>

<!-- Atlas -->
<div class='fill-deep-dark clearfix dark clip' id="contact_us">
  <div class='limiter pad4y'>
  <div class="clearfix contain">
    <div class="space-bottom4 col12">
        <h1 class="pad2y col10 margin2r">联系我们</h1>
         <p class="prose-big  space-bottom2 col12">总&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机: &nbsp;&nbsp;xxxxxxxxxxxxxxxxxxxxxxxxx</p>
         <p class="prose-big  space-bottom2 col12">传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真: &nbsp;&nbsp;xxxxxxxxxxxxxxxxxxxxxxxxx</p>
         <p class="prose-big  space-bottom2 col12">服务热线: &nbsp;&nbsp;xxxxxxxxxxxxxxxxxxxxxxxxx</p>
         <p class="prose-big  space-bottom2 col12">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址: &nbsp;&nbsp;成都市高新区天府大道北段966号天府国际金融中心4号楼12楼</p>
      </div>
      <div class="atlas-graphic col8"></div>
    </div>
  </div>
</div>

<div class='footer footer-in-docs clearfix contain hide-mobile fill-light' data-swiftype-index='false' style="border-top: solid 1px;border-color: rgb(201, 208, 213);">
  <div class='limiter clearfix'>
    <div class='footer-in-docs footer-cols-in-docs clearfix col12 pad8y small'>
      <div class='hide-in-docs col4'>
        <h3 class='space-bottom1'>Overview</h3>       
        <a id='footer-design' class='space-bottom0 quiet col12 strong' href='/product/list/'>产品</a>       
        <a id='footer-data' class='space-bottom0 quiet col12 strong' href='/service/'>服务</a>        
        <a id='footer-showcase' class='space-bottom0 quiet col12 strong' href='/case/'>案例</a>       
        <a id='footer-enterprise' class='space-bottom0 quiet col12 strong' href='/civilization/'>文化</a>              
      </div>
      <div class="hide-in-docs col4 center contain">
        <img class="col6" src="/static/home/img/qrcode_1.png">
        <div class="clo6 center">
          <br>
          <br>
          <br>
          <h3>扫描二维码</h3>
          <h3>关注我们</h3>
        </div>       
      </div>
      <div class='hide-in-docs col2'>&nbsp;</div>
      <div class='hide-in-docs col2'>
        <h3 class='space-bottom1'>About us</h3>        
        <a id='footer-design' class='space-bottom0 quiet col12 strong' href='/aboutus/#introduction'>公司简介</a>        
        <a id='footer-data' class='space-bottom0 quiet col12 strong' href='/aboutus/#zizhi'>公司资质</a>       
        <a id='footer-showcase' class='space-bottom0 quiet col12 strong' href='/aboutus/#contact_us'>联系我们</a>       
        <a id='footer-enterprise' class='space-bottom0 quiet col12 strong' href='/enterprise/'>常见问题</a>     
      </div>
    </div>
  </div>
</div>

<div class='footer-in-docs terms-in-docs col12 center footer-copyright small pad4 noprint fill-light contain' data-swiftype-index='false'>
    &copy; 博凯实业
</div>

<div id='modal-content' class='animate modal modal-content'></div>
</div>
</body>
</html>
