<!DOCTYPE html >
<html>
<head>
  
  <meta charset='UTF-8'/>
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='robots' content='index'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  
  <title>博凯投资</title>

  <meta class='swiftype' name='title' data-type='string' content='Mapbox' />
  <meta class='swiftype' name='type' data-type='enum' content='site' />
  <meta class='swiftype' name='info' data-type='string' content='site' />
  

  

  <link href='/static/home/css/base.css' rel='stylesheet' />
  <link href='/static/home/css/site.css' rel='stylesheet' />
  <!--[if IE 9]><link href='/css/site-ie9.css' rel='stylesheet' /><![endif]-->
  <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='/blog/blog.rss' />


  <!--[if lt IE 9 ]><script src='/js/redirect-ie.js'></script><![endif]-->

  <script src='/static/home/js/base.js'></script>
  
  <link href='/static/home/css/home.css' rel='stylesheet' />
<meta name="bitly-verification" content="1cabb779add9"/>

</head>
<body class=' full bleed'>
<div class='page-content'>

<div class='masthead show-in-loaded col12 clearfix  dark' data-swiftype-index='false'>
  <div class='clearfix'  style="background: rgb(80, 84, 87);">
    <nav class='col12  limiter text-right pad2y contain animate clearfix noprint'>
      <!-- <a class='fl mb-logo' href='/'>铸鑫矿业</a> -->
      <h2 class='fl' style="color:white;">博凯投资</h2>
      <div id='nav'>
      </div>
    </nav>
  </div>
</div>

<div class='splash gradient ' >
  <section class=' js-fullheight  js-slideshow contain animate clip active1'>
    <div class='carousel-fill  col12 pin-left'></div>
    <div class='carousel-fill  col12 pin-left'></div>
    <div class='carousel-fill  col12 pin-left'></div>
    <div class='carousel-fill  col12 pin-left'></div>
      <div class='col12 img-carousel js-img-carousel pin-left ' style="right:0;top:0;">
        <img class='col12 js-fullheight animate' src='/static/home/img/1.png' data-word='丰富的' data-text='矿产资源'  alt='Desktop computer' />
        <img class='col12 js-fullheight animate js-defer-src' data-src='/static/home/img/2.png' data-word='精湛的' data-text='加工工艺' alt='An iPad' />
        <img class='col12 js-fullheight animate js-defer-src' data-src='/static/home/img/3.png' data-word='优质的' data-text='产品'    alt='Vertical mobile display' />
        <img class='col12 js-fullheight animate js-defer-src' data-src='/static/home/img/4.png' data-word='扫描二维码' data-text='关注我们'      alt='Horizontal mobile display' />
      </div>
      <div class='z1 pin-bottom col12 pad4y pager js-pager center'></div>
  </section>

<!-- <section id="freemium" class=" contain clip">
  <div class="limiter ">
    <div class="contain clearfix ">
      <div class="limiter clearfix prose prose-big pad2y space-bottom2">
        <div class="center">
         <h1 class="">博凯投资发展有限公司</h1>
          <p class="col10 margin1 margin1r">
         一家以矿业投资开发为主，业务领域涉及矿产资源勘探、开发、工程建筑、房地产、酒店投资等综合开发的大型集团化、综合性、多元化发展的民营企业。
         </p>
        </div>
      </div>
      <div class="col12 hide-mobile new-editor clearfix">
        <div class="hide-mobile">
          <div class="device device-browser">
            <video id="editor-video" width="1000px" height="625px" autoplay="autoplay" preload="auto" loop="" class="device-content" poster="static/home/img/editor.jpg">
              <source src="static/home/media/editor.mp4" type="video/mp4">
              <source src="static/home/media/editor.webm" type="video/webm">
              <img src="static/home/img/editor.jpg" width="1000px" height="625px">
            </video>
            <div class="device-details"></div>
          </div>
        </div>
      </div>
<div class="imiter center space-top8 pad4y">
          <a class="button space-bottom1 pad8x" href="/editor/">Start now, it's free!</a>
           <small class="quiet small smaller">Need more? Check out our <a href="/plans">plans</a> page.</small>
      </div>
    </div>
  </div>
</section>  -->

  <section id='freemium' class='contain clip'>
    <div class=''>
      <div class='contain clearfix ' style="background: rgb(80, 84, 87);color:white;">
          <div class="clearfix">
              <div class="section clearfix col12 keyline-top  dev-tools clip">

                  <li class="block center col3 pad2  keyline-right keyline-bottom">
                      <span class="col12">资金雄厚</span>
                      <br>
                      <div class="developer-tools-graphic noevents mapbox-js pad8 inline space-bottom2"></div>
                  </li>

                  <li class="block col3 center pad2  keyline-right keyline-bottom">
                    <span class="col12">矿产丰富</span>
                    <br>
                    <div class="developer-tools-graphic noevents ios-sdk pad8 inline space-bottom2"></div>
                  </li>

                  <li  class="block col3 center pad2  keyline-bottom keyline-right">
                    <span class="col12">设备专业</span>
                    <br>
                    <div class="developer-tools-graphic noevents android-sdk pad8 inline space-bottom2"></div>
                  </li>

                  <li class="block center col3 pad2  keyline-bottom">                    
                      <span class="col12">品质一流</span>
                      <br>
                      <div class="developer-tools-graphic noevents maps-api pad8 inline space-bottom2"></div>
                  </li>
              </div>
          </div>
      </div>
    </div>
  </section>

</div>


<section id="maps-on-mobile" class="fill-midnight dark contain">
  <div class="limiter clearfix pad8y">
    <div class="col4 margin8 prose-big pad8y">
        <h1 class="">明星产品 &bull; 昆仑红</h1>
        <br>
        <p>矿石以枣红色为基本色调，整体花纹分布均匀、和谐，装饰效果呈鲜艳柔和之美感，装饰性能良好。</p>
        <a class='button stroke pad4x rcon next js-track-design-link space-bottom1' href='/#/'>查看详情</a>
    </div>
    <div class="col10 row12 pin-bottom noevents mobile-maps-graphic">
     </div>
  </div>
</section>

<section id='design' class='fill-midnight contain dark clip'>
  <!-- <div class=''> -->
    <div class='limiter clearfix pad8y contain'>
      <div class='prose prose-big space-bottom4 clearfix'>
        <h1 class='dark col5 studo-description'>明星产品 &bull; 云雾白</h1>
      </div>
      <div class='col5 prose prose-big space-bottom4 studo-description'>
          <p >
          花色美观、便于大面积拼接装饰、能够同花色批量供货
          </p>
           <a class='button stroke pad4x rcon next js-track-design-link space-bottom1' href='/#/'>查看详情</a>
           <div class="hide-mobile"><br><br><br><br><br><br><br><br></div>
      </div>

      <div class="col11 design pin-right"></div>
    </div>
  <!-- </div> -->
</section>

<!-- <section id="freemium" class=" contain clip">
  <div class="limiter ">
    <div class="contain clearfix ">
      <div class="limiter clearfix prose prose-big pad2y space-bottom2">
        <div class="center">
         <h1 class="">博凯投资发展有限公司</h1>
          <p class="col10 margin1 margin1r">
         一家以矿业投资开发为主，业务领域涉及矿产资源勘探、开发、工程建筑、房地产、酒店投资等综合开发的大型集团化、综合性、多元化发展的民营企业。
         </p>
        </div>
      </div>
      <div class="col12 hide-mobile new-editor clearfix">
        <div class="hide-mobile">
          <div class="device device-browser">
            <img src="/static/home/img/wolf1.png">
            <video id="editor-video" width="1000px" height="625px" autoplay="autoplay" preload="auto" loop="" class="device-content" poster="static/home/img/editor.jpg">
              <source src="static/home/media/editor.mp4" type="video/mp4">
              <source src="static/home/media/editor.webm" type="video/webm">
              <img src="static/home/img/editor.jpg" width="1000px" height="625px">
            </video>
            <div class="device-details"></div>
          </div>
        </div>
      </div>
<div class="imiter center space-top8 pad4y">
          <a class="button space-bottom1 pad8x" href="/editor/">Start now, it's free!</a>
           <small class="quiet small smaller">Need more? Check out our <a href="/plans">plans</a> page.</small>
      </div>
    </div>
  </div>
</section>  -->

<section class='fill-white contain pad4y'>
  <div class='limiter clearfix'>
    <div class='clearfix col12'>
      <div class='z1 col9 prose prose-big'>
        <h1>矿业集群</h1>
        <p class='quiet block'>
           丰富矿产资源奠定投资回报根基
        </p>
         <a class='button rcon next pad2x' href='/enterprise'>更多矿区</a>
      </div>
    </div>
  </div>
</section>

<section class='contain industries limiter pad2y'>
    <div class="industries-ad">
          <ul class="clearfix">
          
            <li class="col2 center clip contain">
              <a href="/industries/naturalresources">
                <div class="industries-ad-industry  contain naturalresources fill-blue"></div>
                <h3 class="dark fancy center">青海省海都兰县清水河花岗岩矿</h3>
              </a>
            </li>
          
            <li class="col2 center clip contain">
              <a href="/industries/security">
                <div class="industries-ad-industry  contain security fill-blue"></div>
                <h3 class="dark fancy center">云南省贡山县普豆底铅锌银矿</h3>
              </a>
            </li>

            <li class="col2 center clip contain">
              <a href="/industries/media">
                <div class="industries-ad-industry  contain media fill-blue"></div>
                <h3 class="dark fancy center">四川省青川县房石镇轿子顶金矿</h3>
              </a>
            </li>

            <li class="col2 center clip contain">
              <a href="/industries/health">
                <div class="industries-ad-industry  contain health fill-blue"></div>
                <h3 class="dark fancy center">四川省康定县吉局乡水塘子铅银矿</h3>
              </a>
            </li>
                      
                   
          </ul>
    </div>
</section>


<script src='/static/home/js/home.js'></script>
</div>

<div class='footer footer-in-docs clearfix contain hide-mobile fill-light' data-swiftype-index='false' style="border-top: solid 1px;border-color: rgb(201, 208, 213);">

  <div class='limiter clearfix'>
    <div class='footer-in-docs footer-cols-in-docs clearfix col12 pad8y small'>
      <div class='hide-in-docs col4'>
        <h3 class='space-bottom1'>Overview</h3>
        
        <a id='footer-design' class='space-bottom0 quiet col12 strong' href='/design/'>产品</a>
        
        <a id='footer-data' class='space-bottom0 quiet col12 strong' href='/data-platform/'>服务</a>
        
        <a id='footer-showcase' class='space-bottom0 quiet col12 strong' href='/showcase/'>案例</a>
        
        <a id='footer-enterprise' class='space-bottom0 quiet col12 strong' href='/enterprise/'>文化</a>
        
        
      </div>

      <div class="hide-in-docs col4 center contain">
        <img class="col6" src="/static/home/img/qrcode_1.png">
        <div class="clo6 center">
          <br>
          <br>
          <br>
          <h3>扫描二维码</h3>
          <h3>关注我们</h3>
        </div>
        
      </div>
      <div class='hide-in-docs col2'>&nbsp;</div>
      <div class='hide-in-docs col2'>
        <h3 class='space-bottom1'>About us</h3>
        
        <a id='footer-design' class='space-bottom0 quiet col12 strong' href='/design/'>公司简介</a>
        
        <a id='footer-data' class='space-bottom0 quiet col12 strong' href='/data-platform/'>公司资质</a>
        
        <a id='footer-showcase' class='space-bottom0 quiet col12 strong' href='/showcase/'>联系我们</a>
        
        <a id='footer-enterprise' class='space-bottom0 quiet col12 strong' href='/enterprise/'>常见问题</a>
        
        
      </div>


    </div>

  </div>

</div>

<div class='footer-in-docs terms-in-docs col12 center footer-copyright small pad4 noprint fill-light contain' data-swiftype-index='false'>
    <!-- <a href='/tos'>Terms</a> +
    <a href='/privacy'>Privacy</a> -->
    &copy; 博凯投资
</div>

<div id='modal-content' class='animate modal modal-content'></div>
</div>
</body>
</html>
