<!DOCTYPE html >
<html>
<head>
  <meta charset='UTF-8'/>
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='robots' content='index'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <title>博凯实业</title>
  <meta class='swiftype' name='title' data-type='string' content='Mapbox' />
  <meta class='swiftype' name='type' data-type='enum' content='site' />
  <meta class='swiftype' name='info' data-type='string' content='site' />
  <link href='/static/home/css/base.css' rel='stylesheet' />
  <link href='/static/home/css/site.css' rel='stylesheet' />
  <!--[if IE 9]><link href='/css/site-ie9.css' rel='stylesheet' /><![endif]-->
  <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='/blog/blog.rss' />
  <!-- <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' /> -->

  <!--[if lt IE 9 ]><script src='/js/redirect-ie.js'></script><![endif]-->

  <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
  <script src='/static/home/js/base.js'></script>
  
  <link href='/static/home/css/home.css' rel='stylesheet' />
  <meta name="bitly-verification" content="1cabb779add9"/>
</head>
<body class='full bleed animate user-loaded'>
<div class='page-content'>

<div class="masthead show-in-loaded col12 clearfix  dark" data-swiftype-index="false">
  <div class="clearfix" style="background: #930008;background-image: linear-gradient(to top, #ED1E29, transparent);">
    <nav class="limiter text-right pad2y contain animate clearfix noprint">
      <a class="fl mb-logo" href="/"  style="color:white;background:none;"><h2>博凯实业</h2></a>
      <div id="nav">
        <div class="z10 strong small pad0y space primary hide-mobile">
          <a href="/product/list/" class="primary-nav-button inline pad1x pad0y round ">产品</a>
          <a href="/service/" class="primary-nav-button inline pad1x pad0y round active">服务</a>
          <a href="/case/" class="primary-nav-button inline pad1x pad0y round ">案例</a>
          <a href="/civilization/" class="primary-nav-button inline pad1x pad0y round ">文化</a>
          <a href="/aboutus/" class="primary-nav-button inline pad1x pad0y round ">关于我们</a>
        </div>
        <div class="show-mobile contain dropdown-container pin-topright">
          <a href="#menu" class="dark contain z1 big inline icon menu round quiet dropdown-button js-dropdown-button pin-right"></a>
          <div id="menu" class="js-dropdown-menu scroll-v dropdown-menu offcanvas-top fill-dark clip col12 pin-top animate">
            <div class="mobile-cols pad4y keyline-bottom clearfix">
                <a class="pad1 block strong col6" href="/product/list/">产品</a>
                <a class="pad1 block strong col6" href="/service/">服务</a>
                <a class="pad1 block strong col6" href="/case/">案例</a>
                <a class="pad1 block strong col6" href="/civilization/">文化</a>
                <a class="pad1 block strong col6 signin" href="aboutus">关于我们</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class=''><link rel='stylesheet' href='common.css' />

<!-- Start header -->
<div class='splash dark clearfix clip fill-deep-dark' id="introduction">
  <div class='limiter clearfix contain pad8y'>
    <div class='quiet pin-topright col12 z1 subnav ' style="  text-align: right;border-bottom: solid 1px;">
      <a class='secondary-nav-button small inline round strong truncate pad1x pad0y ' href='#introduction'>销售网络</a>
      <a class='secondary-nav-button small inline round strong truncate pad1x pad0y ' href='#zizhi'>采购咨询</a>  
      <a class='secondary-nav-button small inline round strong truncate pad1x pad0y ' href='#contact_us'>常见问题</a>
    </div>
    <img class="pad2y " style="padding-top:0px;" src="/static/home/img/aboutus_1.png">
    <section>
      <div class="col12 row10">
        <div class='col6 prose-big prose pad2x'>
          <h2 class='fancy'>公司简介</h2>
            <div class="pad2y show-mobile">
              <img class="" src="/static/home/img/aboutus_3.png">
            </div>
          <p class="bottom-space4 ">
            <span style="text-indent:2em;display:block;">
              博凯实业, 是一家以矿业投资开发为主，业务领域涉及矿产资源勘探、开发、工程建筑、房地产、酒店投资等综合开发的大型集团化、综合性、多元化发展的民营企业。
              博凯实业控股拥有青海省海都兰县清水河花岗岩矿、云南省贡山县普豆底铅锌银矿、四川省康定县吉局乡水塘子铅银矿、四川省青川县房石镇轿子顶金矿在内的4座大型矿山。项目总投资 3 亿元。
            </span>
          </p>
        </div>
        <div class="col6 hide-mobile">
          <img class="pad2x" src="/static/home/img/aboutus_3.png">
        </div>
      </div>
      <div class="col12 row10">
        <div class="col6 hide-mobile">
          <img class="pad2x" src="/static/home/img/aboutus_4.jpg">
        </div>
        <div class="col6 show-mobile">
          <img class="pad2x pad2y" src="/static/home/img/aboutus_4.jpg">
        </div>
        <div class='col6 prose-big prose pad2x'>
          <p class="bottom-space4 ">
            <span style="text-indent:2em;display:block;">
              总部位于成都市高新区天府国际金融中心，下设和6个职能部门，员工人数约500人。拥有配备齐全的矿山地质、测量、采矿、选矿、安全、机电、土建、化验、运输、酒店、法律、经统、政工等管理专业技术人员。博凯实业依托强大的资金和资源及人才优势，通过资本运作方式，运用先进的生产技术，完善的质量保证体系和检测手段，在产品中出新，并加强花岗岩等产品的销售经营力度，利用自身的优势，在铅、锌、银、金等有色金属的生产及销售上形成一定的竞争能力，逐步扩大国内以及国际市场。
            </span>
          </p>
        </div>
      </div>
      <div class="col12 row10">
        <div class="col6 show-mobile">
          <img class="pad2x pad2y" src="/static/home/img/aboutus_5.jpg">
        </div>
        <div class='col6 prose-big prose pad2x'>
          <p class="bottom-space4 ">
            <span style="text-indent:2em;display:block;">
              公司奉行“立信天下，融通百业，追求卓越，共创共赢”的企业理念，以为社会、为客户、为员工创造价值为已任，履行社会责任，建设资源节约型、环境友好型的绿色矿山，力求实现民族利益、社会利益、经济效益的最大化，实现财富发现和资产增值，促进各项业务的持续健康发展，为社会经济发展做出积极贡献。
            </span>
          </p>
        </div>
        <div class="col6 hide-mobile">
          <img class="pad2x" src="/static/home/img/aboutus_5.jpg">
        </div>
      </div>
    </section>
    <div class='col8 pin-bottomright graphic-splash'></div>
  </div>
</div>

<!-- End header -->



<!-- High Volume -->
<div class='fill-white clearfix pad4y clip' id="zizhi">
  <div id='highvolume' class='limiter'>
  <div class="clearfix">
    <div class="col12">
        <h1 class=" pad2y">公司资质</h1>
          <div class="industries-ad pad2y">
            <ul class="clearfix">
              <li class="col2 center clip contain">
                  <img class="industries-ad-industry  contain naturalresources fill-blue"src="/static/home/img/zizhi_1.jpg">
                  <p class="prose-big space-bottom2 ">环境管理体系认证</p>
              </li>
              <li class="col2 center clip contain">
                  <img class="industries-ad-industry  contain naturalresources fill-blue"src="/static/home/img/zizhi_2.jpg">
                  <p class="prose-big space-bottom2 ">质量管理体系认证</p>
              </li>
              <li class="col2 center clip contain">
                  <img class="industries-ad-industry  contain naturalresources fill-blue"src="/static/home/img/zizhi_3.gif">
                  <p class="prose-big space-bottom2 ">计量认证</p>
              </li>
              <li class="col2 center clip contain">
                  <img class="industries-ad-industry  contain naturalresources fill-blue"src="/static/home/img/zizhi_4.gif">
                  <p class="prose-big space-bottom2 ">矿山救护队资质</p>
              </li>                
            </ul>
          </div>
      </div>
      <div class="highvolume-graphic col5"></div>

    </div>
  </div>
</div>

<!-- Atlas -->
<div class='fill-deep-dark clearfix dark clip' id="contact_us">
  <div class='limiter pad4y'>
  <div class="clearfix contain">
    <div class="space-bottom4 col12">
        <h1 class="pad2y col10 margin2r">联系我们</h1>
         <p class="prose-big  space-bottom2 col12">总&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机: &nbsp;&nbsp;xxxxxxxxxxxxxxxxxxxxxxxxx</p>
         <p class="prose-big  space-bottom2 col12">传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真: &nbsp;&nbsp;xxxxxxxxxxxxxxxxxxxxxxxxx</p>
         <p class="prose-big  space-bottom2 col12">服务热线: &nbsp;&nbsp;xxxxxxxxxxxxxxxxxxxxxxxxx</p>
         <p class="prose-big  space-bottom2 col12">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址: &nbsp;&nbsp;成都市高新区天府大道北段966号天府国际金融中心4号楼12楼</p>
      </div>
      <div class="atlas-graphic col8"></div>
    </div>
  </div>
</div>

<div class='footer footer-in-docs clearfix contain hide-mobile fill-light' data-swiftype-index='false' style="border-top: solid 1px;border-color: rgb(201, 208, 213);">
  <div class='limiter clearfix'>
    <div class='footer-in-docs footer-cols-in-docs clearfix col12 pad8y small'>
      <div class='hide-in-docs col4'>
        <h3 class='space-bottom1'>Overview</h3>       
        <a id='footer-design' class='space-bottom0 quiet col12 strong' href='/product/list/'>产品</a>       
        <a id='footer-data' class='space-bottom0 quiet col12 strong' href='/service/'>服务</a>        
        <a id='footer-showcase' class='space-bottom0 quiet col12 strong' href='/case/'>案例</a>       
        <a id='footer-enterprise' class='space-bottom0 quiet col12 strong' href='/civilization/'>文化</a>              
      </div>
      <div class="hide-in-docs col4 center contain">
        <img class="col6" src="/static/home/img/qrcode_1.png">
        <div class="clo6 center">
          <br>
          <br>
          <br>
          <h3>扫描二维码</h3>
          <h3>关注我们</h3>
        </div>       
      </div>
      <div class='hide-in-docs col2'>&nbsp;</div>
      <div class='hide-in-docs col2'>
        <h3 class='space-bottom1'>About us</h3>        
        <a id='footer-design' class='space-bottom0 quiet col12 strong' href='/aboutus/#introduction'>公司简介</a>        
        <a id='footer-data' class='space-bottom0 quiet col12 strong' href='/aboutus/#zizhi'>公司资质</a>       
        <a id='footer-showcase' class='space-bottom0 quiet col12 strong' href='/aboutus/#contact_us'>联系我们</a>       
        <a id='footer-enterprise' class='space-bottom0 quiet col12 strong' href='/enterprise/'>常见问题</a>     
      </div>
    </div>
  </div>
</div>

<div class='footer-in-docs terms-in-docs col12 center footer-copyright small pad4 noprint fill-light contain' data-swiftype-index='false'>
    &copy; 博凯实业
</div>

<div id='modal-content' class='animate modal modal-content'></div>
</div>
</body>
</html>
